li {
  color: $lichter;
  background-color: $donkerder;
  padding: $padding;
  margin: 10px;
  text-align: center;
  height: 3em;
  &:hover {
    background-color: $maincolor;
  }
}
p {
  @extend li;
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 30em) {
  @import "naviTablet";
}
