// de mixins
@mixin grids($waarde) {
  ul {
    -webkit-grid-template-columns: $waarde;
    -moz-grid-template-columns: $waarde;
    -ms-grid-template-columns: $waarde;
    -o-grid-template-columns: $waarde;
    grid-template-columns: $waarde;
    grid-gap: 1em;
    display: grid;
  }
}
