* {
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "hd hd hd"
    "tip1 tip2 img"
    "tip3 tip4 img"
    "sb tip5 img"
    "sb tip5 tip6"
    "sb tip7 tip8"
    "sb tip9 footer"
    "sb tip10 footer";
}
header {
  grid-area: hd;
  background-color: gold;
  text-align: center;
  padding: 15px;
  border-bottom: solid;
}
.tip1 {
  grid-area: tip1;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip2 {
  grid-area: tip2;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip3 {
  grid-area: tip3;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip4 {
  grid-area: tip4;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip5 {
  grid-area: tip5;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip6 {
  grid-area: tip6;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip7 {
  grid-area: tip7;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip8 {
  grid-area: tip8;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip9 {
  grid-area: tip9;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.tip10 {
  grid-area: tip10;
  padding: 15px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.numer {
  background-color: gold;
  margin-right: 5px;
  border-style: solid;
}
img {
  grid-area: img;
}
.sidebar {
  grid-area: sb;
  background-color: gold;
  text-align: center;
  padding: 15px;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
}
#validatie {
  padding-top: 200px;
}
h4 {
  padding: 10px;
  font-size: 25px;
}
.sidebar a {
  font-size: 20px;
  text-decoration: none;
  color: blue;
}
.sidebar a:hover {
  color: red;
}
footer {
  grid-area: footer;
  background-color: gold;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: black;
  border-style: none;
  border-top: solid;
  border-left: solid;
}
@media screen and (max-width: 100em) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hd hd"
      "tip1 tip2"
      "tip1 tip2"
      "tip3 tip4"
      "tip3 tip4"
      "tip6 tip6"
      "tip5 tip5"
      "tip7 tip8"
      "tip7 tip8"
      "sb tip9"
      "sb tip9"
      "sb tip10"
      "sb tip10"
      "footer footer";
  }
  img {
    display: none;
  }
  footer {
    border-style: none;
    border-top: solid;
  }
  #validatie {
    padding-top: 2px;
  }
  .sidebar {
    border-bottom: none;
  }
}

@media screen and (max-width: 40em) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hd"
      "tip1"
      "tip2"
      "tip3"
      "tip4"
      "tip5"
      "tip6"
      "tip7"
      "tip8"
      "tip9"
      "tip10"
      "sb"
      "footer";
  }
  img {
    display: none;
  }
  .sidebar {
    border-bottom: none;
    border-right: none;
  }
}
