body {
  padding: 0;
  margin: 0;
  background-color: #fffd7c;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gold;
  display: block;
  padding: 2em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  border: 0.2em solid black;
}
.contaner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
@supports ((-webkit-appearance: none) or (-moz-appearance: none)) {
  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 3.5em;
    height: 1.6em;
    border-radius: 2em;
    background-color: rgb(0, 255, 0);
    outline: none;
    transition: background-color 0.2s linear;
  }
  .switch::after {
    position: relative;
    top: 0.15em;
    left: 0.15em;
    content: "";
    background-color: white;
    display: block;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid gray;
    border-radius: 2em;
    transition: left 0.2s ease-in-out;
  }
  .switch:checked {
    background-color: red;
  }
  .switch:checked::after {
    left: 2em;
  }
  .groot {
    font-size: 1.5em;
  }
  .disabled {
    background-color: gray;
  }
}
