* {
  padding: 0;
  margin: 0;
}
body {
  /* dan komt er geen horizontale scrol balk */
  overflow-x: hidden;
  width: 100vw;
}
.contaner img {
  max-width: 100vw;
}
input {
  display: none;
}
label {
  font-size: 2em;
}
label:hover {
  cursor: pointer;
}
