body {
  margin: 0;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header,
footer {
  padding: 1em 2em;
}
h1 {
  margin: 0;
  padding: 0.67em 0;
}
img {
  max-width: 100%;
}
main {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-items: center;
}
main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.blijvend {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  cursor: pointer;
}
.blijvend img,
.blijvend p {
  grid-column: 1;
  grid-row: 1;
}
.blijvend p {
  color: white;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 2px 5px black;
}
/* modaal opmaken */
.modaal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  align-items: center;
  justify-content: center;
}
.modaalInhoud {
  background-color: white;
  max-width: 70vh;
  padding: 2em;
  max-height: 80vh;
  overflow: auto;
  margin-top: 90vh;
  animation-name: schuif-binnen;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.sluit-knop {
  float: right;
  font-size: 1.5em;
  padding: 5px;
}
.sluit-knop:hover {
  color: red;
  cursor: pointer;
}

.validatie img {
  height: 1em;
  width: auto;
  border: 0;
  margin: 0 0.3em;
  cursor: pointer;
}

@keyframes schuif-binnen {
  0% {
    margin-top: 150vh;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes schuif-binnen {
  0% {
    margin-top: -90vh;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes schuif-binnen {
  0% {
    margin-top: -90vh;
  }
  100% {
    margin-top: 0;
  }
}
