body {
  background-image: url("hd-rode-kerst-wallpaper-met-dennenappels-en-rode-kerstballen-hd-rode-kerst-achtergrond.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
p {
  text-align: center;
  font-size: 60px;
  color: whitesmoke;
  text-shadow: -5px 2px black;
}
.timer {
  padding-top: 100px;
}
